{% extends 'lms/lms_base.html' %}

{% block content %}
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8">
                {% block dashboard-content %}
                {% endblock dashboard-content %}
            </div>
            {% if not is_profile_view %}
                <div class="col-md-3">
                    <div class="pt-lg-4">
                        {% block right-panel %}
                        {% endblock right-panel %}
                    </div>
                </div>
            {% endif %}
        </div>
    </main>
{% endblock content %}
