{% extends 'lms/course/course_base.html' %}

{% load render_table from django_tables2 %}

{% load bootstrap4 %}

{% block title %}
    GradeBooK
{% endblock title %}

{% block content %}

{% if filter %}
    <div class="col-sm-3 " style="float:top">
        <form action="" method="get" class="form form-inline ">
            {% bootstrap_form filter.form layout='inline' size='small' %}
            {% bootstrap_button 'Filter' button_type="submit" button_class="btn btn-outline-success btn-sm" size='small' %}
        </form>
    </div>

{% endif %}

{% load querystring from django_tables2 %}
    <a href="{% querystring '_export'='csv' %}">
        <button class="btn btn btn btn-outline-primary btn-sm" type="button">Export Table(.csv)</button>
    </a>
<br/>
{% render_table table%}
{% endblock content %}