{% extends 'lms/lms_base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    </br>
    </br>
    <h1 class="text-center">Add Comment</h1>
    </br>
    </br>

    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p}}
        </br>
        </br>
            <div class="form-group">
                <button class="btn btn-secondary">Add Comment</button>
            </div>
        </form>
    </div>
    {% endblock content %}