{% extends 'lms/lms_base.html' %}

{% block title %}
    <title> Email Newsletter </title>
{% endblock title %}

{% block content %}
<div class="container">
    <div class="col-12">
        <h1>Email Newsletter</h1>
    </div>
    <div class="col-12">
        {% if email %}
            <p>{{ email }} has been successfully {{ action }}.</p>
        {% else %}
            {% if action %}
                <p>Sorry!!.The email has been already added{{ action }}.</p>
            {% endif %}
        {% endif %}

    </div>
    {% if form %}
        <div class="col-12 col-md-4">
            <form method="post" novalidate>
                {% csrf_token %}
                {{ form }}
                <br>
                <button type="submit" class="btn btn-success">Subscribe!</button>
            </form>
        </div>
    {% endif %}
</div>
{% endblock content %}
