{% extends "dashboard/dashboard_base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            <!-- {{ emailadmin_form.subject }} -->
            <input class="input100" type="text" name="subject" placeholder="Subject" id="id_subject" maxlength="254">
        </div>
        <br>
        <div name="Email Body">
            <!-- {{ emailadmin_form.emailBody }} -->
            <input class="input100" type="text" name="emailBody" placeholder="Email Body" id="id_emailBody" maxlength="5000">
            <span class="focus-input100" data-placeholder="&#xe82a;"></span>
        </div>
        <br>
        <br>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Send</button>
        </div>
    </form>
    </div>
{% endblock content %}