{% extends 'lms/lms_base.html' %}

{% block content %}
<div id="content" class="flex">
  <h1>Assignments Section</h1>
  <div id="content-main">

    {% if user.is_authenticated %}
    <ul class="object-tools">
      <li>
        <a href="{% url 'assignments:assignment_create' %}" class="addlink">Assignment</a>
      </li>
    </ul>

    {% for assignment in object_list %}
    <article class="media content-section">
      <div class="media-body">
        <div class="article-metadata">
          <a class="mr-2" href="#">{{ assignment.user }}</a>
          <small class="text-muted">{{ assignment.date_posted|date:"F d, Y" }}</small>
        </div>
        <h2><a class="article-title" href="{% url 'assignments:assignment_detail' assignment.id %}">{{ assignment.title }}</a></h2>
        <p class="article-content"> {{ assignment.content }} </p>
      </div>
    </article>

    {% endfor %}

    {% else %}
    <p>Login to view your assignments</p>
    {% endif %}
  </div>
</div>

{% endblock content %}