
<div class="container">
        <!-- <div class="col-md-12 bg-light pull-right">
            <button type="button">
                <a href="{% url 'assignments:assignment_create' %}">Create</a></button>
        </div> -->


<!-- <div class="right">
    <a href="{% url 'assignments:assignment_create' %}">Create Assigment</a>
</div> -->
{% for assignment in object_list %}
    <li><a href="{% url 'assignments:assignment_detail' assignment.pk %}">{{assignment.title}}</a> 
        <br/>

    </li>
{% endfor%}
</div>
