{% extends 'lms/course/settings/settings_base.html' %}
{% load crispy_forms_tags %}

{% block main-content %}
    <div class="container">
        <h1 class="text-center pt-3 pb-3 border-bottom">Course Details</h1>

        <h5 class="pt-3 pb-1 text-muted">View/Update the Course Details</h5>

        <div class="pt-3 pb-3>">
            <form action="{% url 'lms:course_details' object.id %}" class="form-horizontal" method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    {{ form|crispy }}
                </fieldset>
                <div class="pt-5 pb-5">
                    <a class="btn btn-outline-info" href="{% url 'lms:course_details' object.id %}">Discard Changes</a>
                    <button class="btn btn-outline-success" type="submit">Update Course Details</button>
                </div>
            </form>
        </div>
    </div>
{% endblock main-content %}
