{% extends 'lms/course/settings/settings_base.html' %}
{% load crispy_forms_tags %}

{% block main-content %}
    <div class="container">
        <h1 class="text-center pt-3 pb-3 border-bottom">Manage Course</h1>

        <table class="table table-hover mt-lg-5 mb-lg-5">
            <tbody>
            <tr>
                <th scope="row">todo...</th>
            </tr>
            <tr>
                <td scope="row">conclude the course</td>
            </tr>
            <tr>
                <td scope="row">delete the course</td>
            </tr>
            <tr>
                <td scope="row">copy the course</td>
            </tr>
            <tr>
                <td scope="row">import the course</td>
            </tr>
            <tr>
                <td scope="row">export the course</td>
            </tr>
            </tbody>
        </table>


    </div>
{% endblock main-content %}
