<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registerations</title>
</head>
<body>

    <form action="register" method="post">
        {% csrf_token %}
        <input type="text" name="first_name" placeholder="First Name"><br>
        <input type="text" name="last_name" placeholder="Last Name"><br>
        <input type="text" name="username" placeholder="User name"><br>
        <input type="email" name="email" placeholder="email"><br>
        <input type="password" name="password1" placeholder="Password"><br>
        <input typr="password" name="password2" placeholder="Confirm Password"><br>
        <input type="submit"> 


    </form> 

    <div>
        {% for message in messages %}
        <h3> {{message}} </h3>
        {% endfor %}

    </div>
    
</body>
</html>

