{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz One Question at a time</title>
    
    <script type="text/javascript" async
      src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML">
   </script>

<link rel="stylesheet" 
href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/styles/default.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
    

    

</head>
<body>


    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/momentjs/2.14.1/moment.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    
    <script>
        $(document).ready(function(){
        

          $("#b1").click(function(){
          
            $(".rb").show();
            $ (".rb").attr("disabled",true) ; 
          }) ;
          
          
          
           
          });
        
        
        
        

     </script>

<script>
  $(function () {
    $('#datetimepicker1').datetimepicker();
 });
</script>




          
     
   <center>
     <h2>  Quiz   </h2>
   </center>
     <left>
     <hr>
     <p style='margin-left:10px'> <b>Points</b>  95 &nbsp;&nbsp; <b>Questions 17 </b>   </p> 
      
    <a href="{% url 'lms:preview_quiz' %}" >
         <button class="btn-btn-primary" style="float:right" id="previewbtn" type="submit";>Preview</button>
    </a>
    <a href="{% url 'lms:quiz_publish' %}" >
        <button class="btn-btn-primary" style="float:right ;margin-right:10px;">Publish</button>
    </a> 
    <div id="xyz"> 
      <form>
        <labels style='margin-left:10px'><b> Time Limit</b> </labels>
        <select name="minutes" id="minutes">
         <option value="volvo">15</option>
         <option value="saab">30</option>
         <option value="opel">60</option>
         <option value="audi">90</option> <p>Minutes</p>
       </select>
      </form>
      <br>
        <div class='col-sm-3'>
          <div class="form-group">
             <label class="control-label" style="float:left">Available From &nbsp;</label>
             <div class='input-group date' id='datetimepicker1'>
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
                </span>
             </div>
          </div>
       </div>
    </div>
     </div>
      
     <br/>
     
     <hr>

            
    </left>
    
    <p id='limit' style="float:right">5</p> <br />
        <p id='countdown' style="float:right";>0:0</p>
        <script type="text/javascript">
            const startingMinutes = document.getElementById('limit').innerHTML;
            let time = startingMinutes * 60;
            const countDownEl = document.getElementById("countdown");
            setInterval( updateCountdown, 1000);
            function updateCountdown() {
                const minutes = Math.floor( time/60 )
                let seconds = time % 60;
                if ( time > 0) {
                    seconds = seconds < 10 ? '0'+seconds : seconds;
                    countDownEl.innerHTML = `${minutes}:${seconds}`;
                    time--;
                }
                if( time == 0){
                    countDownEl.innerHTML = "Time Out";
                }
            }
        </script>
     <br>
     </br
        

    
    <a href="{% url 'lms:compute_stats' %}" ><button class="btn btn-success pull-right" style="float:right" id="previewbtn" type="submit";>Moderate Quiz tab</button></a>
    <br>
   </br>
    <a href="{% url 'lms:Edit_quiz' %}" ><button class="btn btn-success pull-right" style="float:right" id="previewbtn" type="submit";>Edit Quiz </button></a>
    <br>
    </br>
    <a href="{% url 'lms:enter_comment' %}"><button class="btn btn-success pull-right" style="float:right" id="previewbtn" type="submit";>Speed Grading tab</button></a>
    <div id="masterContent" class=container style="width:800px; margin-left:200px;">
         <div class=row>
            {% for quest in questions %}
            <div class="column" style="border:2px solid black;background-color:#aaa;">
               <h2>Question {{quest.id}} <label style="display:inline;float:right;"><h4>{{quest.points}} pts</h4></label> </h2>  
               
               <div style="border:1px solid black;background-color:#FFFFFF;">
                  <h4 style="margin-left:20px"><b> {{quest.question | safe}}</b></h4>
                  <p> {{ quest.description | safe}} </p>

                
                </body>   
                  
                  
                  
                     <div class="lmn">
                         {% if quest.img %}
                         <img src="{{quest.img.url}}" alt="" >
                         {% endif %}
                     </div>
                
                <textarea rows="2" cols="50" name="comment" form="usrform" style="float:right;">
                  Enter text here...</textarea>
                {% if quest.questiontype == "Multiple choice" %}  
                  <p><input style="margin-left:30px;" type="radio" class="rb" name="{{quest.id}}" id="option1" value="{{quest.option1}}">&nbsp;{{quest.option1}}</p>
                  <p><input style="margin-left:30px;" type="radio" class="rb" name="{{quest.id}}" id="option2" value="{{quest.option2}}">&nbsp;{{quest.option2}}</p>

                  {% if quest.option3 != "" and quest.option4 != "" %}
                    <p><input style="margin-left:30px;" type="radio" class="rb" name="{{quest.id}}" id="option3" value="{{quest.option2}}">&nbsp;{{quest.option3}}</p>
                    <p><input style="margin-left:30px;" type="radio" class="rb" name="{{quest.id}}" id="option4" value="{{quest.option2}}">&nbsp;{{quest.option4}}</p>

                  {%  endif %}
                {% endif %}

                {% if quest.questiontype == "Multiple correct" %}

                  <p><input style="margin-left:30px;" type="radio" class="rb"  id="option1" value="{{quest.option1}}">&nbsp;{{quest.option1}}</p>
                  <p><input style="margin-left:30px;" type="radio" class="rb"  id="option2" value="{{quest.option2}}">&nbsp;{{quest.option2}}</p>

                    {% if quest.option3 != "" and quest.option4 != "" %}
                    <p><input style="margin-left:30px;" type="radio" class="rb"  id="option3" value="{{quest.option2}}">&nbsp;{{quest.option3}}</p>
                    <p><input style="margin-left:30px;" type="radio" class="rb"  id="option4" value="{{quest.option2}}">&nbsp;{{quest.option4}}</p>
                
                    {%  endif %}
                {% endif %}

                {% if quest.questiontype == "True or False" %}

                  <p><input style="margin-left:30px;" type="radio" class="rb" name="{{quest.id}}" id="option1" value="{{quest.option1}}">&nbsp;{{quest.option1}}</p>
                  <p><input style="margin-left:30px;" type="radio" class="rb" name="{{quest.id}}" id="option2" value="{{quest.option2}}">&nbsp;{{quest.option2}}</p>

                {% endif %}




                <p> <label class="rb" style="display:none;color:green" > {{quest.answer}}          </label>          </p>
                </div>
                </div>
                

              
              <br> 
            



            {%  endfor   %}

            <div class="paginetor">
              <div class="form-group">
                {%  if questions.has_next %}
                <a href="?page={{ questions.next_page_number }}"><button class="btn form-control btn-primary" id="submitAnswer">Next</button></a>
              {% else %}
               <a href=""><button class="btn form-control btn-success" id="submitAnswer">Submit Quiz</button></a>  
              {% endif %} 
              </div>
             </div> 

            

           
            

         </div>

         
         </div>
      

         <hr/>
         <center>
            <input type="submit" class="btn-btn-primary" id="b1" style="color:green "  >
         </center>


    </div>
    
</body>
</html>
